* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body { 
  font: 13px 'Helvetica Neue', Helvetica, Arial; 
  background: #ddd;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
}

#main {
  position: relative;
  width: 500px;
  max-width: 100%;
  background: white;
  padding: 50px 20px 20px;
  margin: 70px auto;
  height: 400px;
  border-radius: 3px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 17px;
  background: #444;
  color: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
header h1 {
  font-size: 20px;
  float: left;
}
header p#nickname {
  float: right;
  text-align: right;
  display: none;
  font-size: 15px;
}

#online {
  display: none;
  position: absolute;
  right: -165px;
  top: 49px;
  background: white;
  height: 351px;
  width: 150px;
  padding: 10px;
  border-radius: 3px;
  color: #444;
  font-size: 14px;
}
#online h2 {
  font-size: 16px;
}
#online ul {
  list-style-type: none;
  margin-top: 10px;
  display: block;
  height: 90%;
  overflow: scroll;
}
#online ul li {
  margin-bottom: 3px;
}

#chat { 
  display: none; 
  height: 100%;
}
#chat form { 
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#chat form input { 
  border: 0;
  padding: 10px;
  width: 86.8%;
  margin-right: .5%;
  outline: 0;
  background: #eee;
  border-radius: 3px;
  font-size: 13px;
}
#chat form button { 
  width: 12%;
  border: none;
  padding: 10px;
  float: right;
  border-radius: 3px;
  font-size: 13px;
}

#messages { 
  display: block;
  list-style-type: none; 
  padding: 0 0 20px;
  height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#messages li { 
  padding: 15px;
  border-radius: 4px;
  background: #e9e9e9;
  width: 65%;
  margin: 10px 0;
  word-wrap: break-word;
}
#messages li.by-me {
  margin-left: auto;
  background: #0B75D4;
  color: white;
}
#messages li.status {
  text-align: center;
  font-size: 13px;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  color: #777;
  background: none;
}
#messages li .name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
#messages li.by-me .name {
  color: white;
}

#set-nickname {
  text-align: center;
  margin: 70px 0;
}
#set-nickname input {
  padding: 10px 12px;
  font-size: 15px;
  border: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
}
#set-nickname input:focus {
  border-color: #888;
  outline: 0;
}
#set-nickname button {
  padding: 12px;
  border: 0;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
}
#set-nickname h2 {
  margin: 20px;
}
.clear {clear:both;}
button {
  background: #0B75D4; 
  color: white;
}

#nickname a {
  color: white;
}
#typing {
  color: #777;
  font-size: 11px;
  padding-bottom: 4px;
}
footer {
  color: #888;
  text-align: center;
  margin: 50px 0;
}
